.footer__copyright {
    margin: 0px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    /* identical to box height, or 100% */

    color: #FFFFFF;
}
@media screen and (min-width:768px) {
    .footer__copyright {
            justify-self: center;
            font-size: 14px;
            line-height: 16px;
        }
}
@media screen and (min-width:1024px) {
    .footer__copyright {
            justify-self: center;
            font-size: 14px;
            line-height: 16px;
        }
}